
<div>
  <div class="container">
    <div>
      
      <form [formGroup]="formularioGeneral">
        <div #pdf>
          <img src="../assets/creo.jpeg" alt=""/>
          <!-- <div class="btn-export"> -->
            <button mat-raised-button color="primary" (click)="generarPDF()">
              Exportar a pdf
            </button>
          <!-- </div> -->
          <div class="inicio">
            <mat-card class="card_principal">
              LABORATORIO DE ANALISIS CLINICOS BIOQUIMICA : DEL RICCIO LAURA E.MP
              180
            </mat-card>
          <mat-card class="card_principal">
            <mat-form-field>
              <label>Nombre y Apellido</label>
              <input matInput formControlName="nombre_apellido" />
            </mat-form-field>
            <mat-form-field>
              <label>DNI</label>
              <input matInput formControlName="dni" />
            </mat-form-field>
            <mat-form-field>
              <label>Obra Social</label>
              <input matInput formControlName="obra_social" />
            </mat-form-field>
            <mat-form-field>
              <label>Fecha</label>
              <input
              matInput
              type="date"
              formControlName="fecha"
              max="9999-12-12"
              />
            </mat-form-field>
            <mat-form-field>
              <label>Médico Solicitante</label>
              <input matInput formControlName="nombre_medico" />
            </mat-form-field>
          </mat-card>
        </div>
      </div>
        
        <div class="tables">
          <mat-card class="cabecera">
            <input type="checkbox" (change)="checkItem($event.target,hemograma,true,false)"/>
            <h2>HEMOGRAMA&nbsp;COMPLETO</h2>
            &nbsp;&nbsp; Método: Citometria de Flujo Laser Modelo: SYSMEX
            XS-1000
          </mat-card>
          <table mat-table [dataSource]="hemograma" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <p [ngClass]="{ header: element.header }">
                  {{ element.nombre }}
                </p>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="element.position < 16">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event,true)"
                  />
                </mat-form-field>
                <mat-form-field *ngIf="element.position > 16">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event,true)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-card class="cabecera">
            <input type="checkbox" (change)="checkItem($event.target,coagulograma,false,true)"/>
            <h2>COAGULORAMA&nbsp;BÁSICO</h2>
            &nbsp;&nbsp; Coagulométrico turbidimétrico Automatizado Instrumento:
            ST4 / ST-ART
          </mat-card>
          <table mat-table [dataSource]="coagulograma" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <p [ngClass]="{ header: element.header }">
                  {{ element.nombre }}
                </p>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event,false,true)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <table mat-table [dataSource]="hemoglobina" class="mat-elevation-z8 borde">
            <br>
            <hr>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">{{ element.nombre }}</p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-card>
            <h2>IONOGRAMA&nbsp;&nbsp;SERICO</h2>
            Electrodo ión selectivo Tecnologia: COBAS C311- ROCHE DIAGNOSTICS
          </mat-card>
          <table mat-table [dataSource]="ionograma" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">{{ element.nombre }}</p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-card>
            <h2>HEPATOGRAMA</h2>
          </mat-card>
          <table mat-table [dataSource]="hepatograma" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">{{ element.nombre }}</p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-card>
            <h2>PERFIL&nbsp;&nbsp;LIPIDO</h2>
            Enzimático Teconologia: COBAS C311- ROCHE DIAGNOSTICS
          </mat-card>
          <table mat-table [dataSource]="perfilLipido" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">
                        {{ element.nombre }}
                    </p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>


          <mat-card>
            <h3>ÍNDICE DE RIESGO&nbsp;ATEROGENICO</h3>
          </mat-card>
          <table
            mat-table
            [dataSource]="indiceAterogenico"
            class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">{{ element.nombre }}</p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-card>
            <h2>SEDIMENTO&nbsp;&nbsp;URINARIO</h2>
          </mat-card>
          <table
            mat-table
            [dataSource]="sedimentoUrinario"
            class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">{{ element.nombre }}</p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <table
            mat-table
            [dataSource]="sueltos2"
            class="mat-elevation-z8 borde">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">{{ element.nombre }}</p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          
          <table
            mat-table
            [dataSource]="sueltos1"
            class="mat-elevation-z8 borde">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">{{ element.nombre }}</p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-card>
            <h2>CLEARENCE&nbsp;&nbsp;DE&nbsp;&nbsp;CREATININA</h2>
          </mat-card>
          <table
            mat-table
            [dataSource]="clearence"
            class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <div>
                    <input type="checkbox" (change)="checkItem($event.target,element,false,false)">
                    <p [ngClass]="{ header: element.header }">{{ element.nombre }}</p>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>Valor</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field *ngIf="!element.header">
                  <input
                    type="text"
                    matInput
                    [formControl]="control"
                    (ngModelChange)="cambioValor(element, $event)"
                  />
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef>Referencia</th>
              <td mat-cell *matCellDef="let element">
                {{ element.referencia }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
