.container{
    width: 100%;
    border: 1px solid red;
    img{
        width: 30%;
    }
}

.inicio{
    display: flex;
    flex-direction: row;
    mat-card{
        width: 50%;
    }
}
.card_principal{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

mat-form-field{
    margin:0 10px;
}
.mat-table{
    width: 100%;
}
.header{
    font-weight: 600;
}
mat-card{
    box-shadow: none !important;
}
tr > td{
    width: 33%;
}


@media(max-width:480px){
    .container{
        img{
            width: 100%;
        }
    }
    .inicio{
        display: flex;
        flex-direction: column;
        mat-card{
            width: 80%;
        }
    }


    tr > td{
        width: 100%;
    }   
}