.btn-export{
    width: 100%;
    text-align: right;
    button{
        margin: 10px;
    }
}
.container{
    width: 100%;
    img{
        width: 30%;
    }
}

.inicio{
    display: flex;
    flex-direction: row;
    mat-card{
        width: 50%;
    }
}
.card_principal{
    padding: 30px;
    display: flex;
    flex-direction: column;
    mat-form-field {
        label{
        color: #39968b;
        }
        input{
            margin-top: 10px;
        }
}
}

h2,h3{
    font-weight: 600;
}


mat-form-field{
    margin:0 10px;
}
.mat-table{
    width: 100%;
}
.header{
    font-weight: 600;
}
mat-card{
    box-shadow: none !important;
}
tr > td{
    width: 33%;
}
tr > td div:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    p{
        margin:0 5px;
    };
}

// .tables ::ng-deep .mat-form-field-underline {
//     display: none;
// }

.cabecera{
    display: flex;
    align-items: center;
}

.borde{
    border-top:1px solid #39968b;
}

@media(max-width:480px){
    .container{
        img{
            width: 100%;
        }
    }
    .inicio{
        display: flex;
        flex-direction: column;
        mat-card{
            width: 80%;
        }
    }


    tr > td{
        width: 100%;
    }   
}